$font: "Roboto", "Noto Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@alias {
  w: width;
  h: height;
  z: z-index;
  bs: background-size;
  fs: font-size;
  bg: background;
}
